{% extends "masterpage.html" %}
{% block title %} {{ title }} sentifeed.io main
{% endblock title %}
{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="../static/css/SentiFeed.css" type="text/css"/>

{% endblock head %}
{% block container %}
    <div class="row" style="height: 100%;">
        <div class="background_img_main"></div>
        <div class="col col-md-12" style="height: 100%;">
            <div class="row" style="top:30%;position: relative;">
            <div class="col col-md-3 col-md-offset-3">
                <div class="svg-wrapper">
                <div class="content-title">
                    <span class="fa fa-cog fa-spin fa-1x"></span> work in progress
                </div>
                <svg height="100" width="500" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="100" width="500"/>
                </svg>
                <div class="collapse" id="collapseExample">
                    <br/>

                    <div class="well" style="opacity: 0.3;color: green;">
                        <p>This is a sentiment analysis project. More soon!</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tincidunt nunc,
                            et malesuada magna fermentum in. Nulla sed pharetra felis. Quisque sit amet maximus nunc,
                            sed eleifend nunc. Ut non arcu tortor. Fusce nec nunc nibh. Sed massa lectus, fringilla ac
                            imperdiet at, vulputate in nisi. Sed facilisis maximus nisi, in consequat est eleifend nec.
                        </p>

                        <p>
                            Vivamus pharetra feugiat elit, et aliquet nisi. Suspendisse a nisl efficitur, eleifend
                            tellus
                            vel, vehicula nulla. Vivamus sagittis mollis placerat. Praesent at arcu eu velit porta
                            mollis.
                            Morbi at elementum purus, sit amet rhoncus nulla. Curabitur ac consequat tellus. Nullam id
                            mattis massa.
                        </p>
                    </div>
                </div>
            </div>
            </div>
            </div>

            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span id="info_icon" class="fa fa-info-circle fa-2x" style="color:#2c3e50;"></span>
                </a>
            </div>
        </div>
    </div>

{% endblock container %}