<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
{% load static from staticfiles %}
    <script type='text/javascript' src="../static/js/others/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="../static/js/others/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="../static/js/SentiFeed.js"></script>
    <link rel="stylesheet" href="../static/css/SentiFeed.css" type="text/css"/>
    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% block head %}
{% endblock head %}
</head>
<body>
<div id="container" class="container">
    <div id="main_menu" class="main_menu shrink">
        <nav class="menu">
              <input type="checkbox" id="togglemenu">
              <label for="togglemenu" class="togglemenu"></label>
              <ul>
                  <li><a href={% url "FigurativeTextAnalysisUI.views.dashboard" %}>Dashboard</a></li>
                  <li><a href="#">About</a></li>
              </ul>
        </nav>
    </div>
    <div id="content" class="content">
        {%  block container %}
        {% endblock container %}
    </div>
</div>
</body>
</html>