{% block scripts %}

    <script type="text/javascript" src="../static/js/results.js"></script>

{% endblock scripts %}
<h1>Results</h1>
<form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col_margin20">
                    <label>Choose a Classifier:</label>
                    <select class="input-md chosen-select options_single" id="cls">
                        <optgroup label="Classifiers">
                            {% for cls in classifiers %}
                                <option>{{ cls }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                    <label>Choose a value for Discretization:</label>
                    <select class="input-md chosen-select options_single" id="discr">
                        <optgroup label="Discretization">
                            {% for discr in discretization %}
                                <option>{{ discr }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-6 col_margin20">
                <label>Choose a Corpus (Test/Final):</label>
                    <select class="input-md chosen-select options_single" id="corpus">
                        <optgroup label="Corpus">
                            {% for corpus in corpuses %}
                                <option>{{ corpus }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="row well">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><span class="fa fa-cog">&nbsp;Feature selection</span></div>
                </div>
            </div>
                <div class="col-md-3 col_margin20">
                 <label>Choose Figurative Features:</label>
                    <select class="input-md chosen-select options_multiple" multiple class="chosen-select"  id="fig">
                        <optgroup label="Figurative Features">
                            {% for each in figurative %}
                                <option>{{ each }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                <label>Choose Morphological Features:</label>
                    <select class="input-md chosen-select options_multiple" multiple class="chosen-select" id="morph">
                        <optgroup label="Morphological Features">
                            {% for morph in morphological %}
                                <option>{{ morph }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                <div class="row">
                <label>Choose Text Similarity Type:</label>
                    <select class="input-md chosen-select options_single" id="similarity">
                        <optgroup label="Text Similarity">
                            <option disabled selected> -- select a text similarity method -- </option>
                            {% for sim in similarity %}
                                <option>{{ sim }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    </div>
                </div>
                <div class="col-md-3 col_margin20">
                <label>Choose Other Features:</label>
                    <select class="input-md chosen-select options_multiple" multiple class="chosen-select" id="fea">
                        <optgroup label="Other Features">
                            {% for feat in features %}
                                <option>{{ feat }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-block btn-success" type="button" onclick="getResults(this)">Get Results</button>
        </div>
    </div>
<div id="trial_results"></div>


</form>