<script>

    var basic_measures = "{{ response.data.basic_measures }}";
    basic_measures = cleanText(basic_measures, "&#39;", "\"");
    basic_measures = cleanText(basic_measures, "u\"", "\"");
    basic_measures = JSON.parse(basic_measures);

    var trial_results_agree = [];
    var trial_results_disagree = [];
    {% for result in response.data.Results.agree %}
        trial_results_agree.push(["{{ result.0 }}".replace("\n", " "), "{{ result.1}}", "{{ result.2}}"]);
    {% endfor %}
    {% for result in response.data.Results.disagree %}
        trial_results_disagree.push(["{{ result.0 }}".replace("\n", " "), "{{ result.1}}", "{{ result.2}}"]);
    {% endfor %}

    function cleanText(text, char, replacement){
         var exists = text.indexOf(char);
        var tmp = text;
        while (exists>-1){
            tmp = tmp.replace(char, replacement);
            exists = tmp.indexOf(char);
        }
        return tmp;
    }

</script>
<form>
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="sub-header">Results</h3>
                    <span class="fa fa-bar-chart fa-2x" id="cosine_result"></span>
                    <span style="color:green;font-size: x-large; font-weight: bold">
                        {{ response.data.CosineResult }}
                    </span></div></div>
        <div class="panel-body" id="results_body">
            <div class="row">
                <div class="col-md-12">
                `</div>
            <div class="row">
                <div class="col col-md-6">
                    <div id="basic_metrics"></div>
                </div>
                <div class="col col-md-6">
                    <div id="mse"></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <div class="" id="feat_importance">
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="table table-condensed" id="classif_report"></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <span>Agree on Polarity</span>
                    <div id="chart_">
                        <div id="chart_agree">

                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col col-md-12">
                <span>Disagree on Polarity</span>
            <div id="chart_disagree">

            </div></div></div>
            <div class="row">
                <div class="col col-md-12">
            <div id="chart">

            </div></div></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well alert-success">Agree on polarity:</div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Tweet</th>
                                <th>Initial</th>
                                <th>Predicted</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row">
                        <div class="table-responsive" style="height: 500px;">
                            <table class="table">
                                <tbody style="overflow: scroll">

                                {% for result in response.data.Results.agree %}

                                    <tr class="{{ result.3 }}">
                                        <td>{{ result.0 }}</td>
                                        <td>{{ result.1 }}</td>
                                        <td>{{ result.2 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well alert-danger">Don't agree on polarity:</div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Tweet</th>
                                <th>Initial</th>
                                <th>Predicted</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row">
                        <div class="table-responsive" style="height: 500px;">
                            <table class="table">
                                <tbody style="overflow: scroll">
                                {% for result in response.data.Results.disagree %}

                                    <tr class="{{ result.3 }}">
                                        <td>{{ result.0 }}</td>
                                        <td>{{ result.1 }}</td>
                                        <td>{{ result.2 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>