{% block scripts %}

    <script type="text/javascript" src="../static/js/trial.js"></script>
    <link href="../static/bootstrap-toggle-master/css/bootstrap2-toggle.min.css" rel="stylesheet">
    <script src="../static/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
{% endblock scripts %}
<h1>Trial</h1>
<form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col_margin20">
                    <label>Choose a Classifier:</label>
                    <select class="input-md chosen-select options_single" id="cls">
                        <optgroup label="Classifiers">
                            {% for cls in classifiers %}
                                <option>{{ cls }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                <label>Choose a Vectorizer:</label>
                    <select class="input-md chosen-select options_single" id="vec">
                        <optgroup label="Vectorizer">
                            {% for vec in vectorizers %}
                                <option>{{ vec }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                    <label>Choose a value for Score Discretization:</label>
                    <select class="input-md chosen-select options_single" id="discr">
                        <optgroup label="Discretization">
                            {% for discr in discretization %}
                                <option>{{ discr }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                <label>Choose a Corpus (Test/Final):</label>
                    <select class="input-md chosen-select options_single" id="corpus">
                        <optgroup label="Corpus">
                            {% for corpus in corpuses %}
                                <option>{{ corpus }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="row" id="count-options-row" style="background: gray">
                <div class="col col-md-12" style="margin-top: 10px;margin-bottom: 4px">
                    <div style="left: 25%;position: relative;">
                        <label style="color:lightgrey">Choose the type of text for BoW implementation</label>
                    </div>
                </div>
                <div class="col col-md-12" style="margin-top: 4px;margin-bottom: 10px">

                    <div class="btn-group" data-toggle="buttons" id="corpus-options" style="left: 25%;">
                        <label class="btn btn-default active">
                            <input type="radio" id="original" name="text_options" checked="checked">Original Tweet Text
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" id="cleaned" name="text_options">Cleaned Tweet Text
                        </label>
                    </div>

                </div>
            </div>
            <div class="row well" id="config">
                <div class="col col-md-3">
                    <label for="post-processing">Post-Processing</label>
                    <input type="checkbox" checked id="post-processing" size="mini" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                </div>
                <div class="col col-md-3">
                    <label for="tf-transformer">TF-Transformer</label>
                    <input type="checkbox" checked id="tf-transformer" size="mini" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                </div>
                <div class="col col-md-3">
                    <label for="pairwise-cosine">Pair-wise Cosine Similarity</label>
                    <input type="checkbox" id="pairwise-cosine" size="mini" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                </div>
            </div>

            <div class="row well" id="features">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><h3><span class="fa fa-cog">&nbsp;Features</span></h3></div>
                </div>
            </div>
                <div class="col-md-3 col_margin20">
                 <label>Choose Figurative Features:</label>
                    <select class="input-md chosen-select options_multiple" multiple class="chosen-select"  id="fig">
                        <optgroup label="Figurative Features">
                            {% for each in figurative %}
                                <option>{{ each }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                <label>Choose Morphological Features:</label>
                    <select class="input-md chosen-select options_multiple" multiple class="chosen-select" id="morph">
                        <optgroup label="Morphological Features">
                            {% for morph in morphological %}
                                <option>{{ morph }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3 col_margin20">
                <div class="row">
                <label>Choose Text Similarity Type:</label>
                    <select class="input-md chosen-select options_single" id="sim">
                        <optgroup label="Text Similarity">
                            <option selected> -- None -- </option>
                            {% for sim in similarity %}
                                <option>{{ sim }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    </div>
                </div>
                <div class="col-md-3 col_margin20">
                <label>Choose Other Features:</label>
                    <select class="input-md chosen-select options_multiple" multiple class="chosen-select" id="fea">
                        <optgroup label="Other Features">
                            {% for feat in features %}
                                <option>{{ feat }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-block btn-success" type="button" onclick="startTrial(this)">Start Trial</button>
        </div>
    </div>
<div id="trial_results"></div>


</form>